<div class="jquery-todolist-item">
    <div class="ui-state-default">
        <div class="jquery-todolist-item-title ui-widget-content jquery-todolist-action-edit jquery-todolist-action">
            <span class="jquery-todolist-item-title-text"></span>
        </div>
    </div>
    <span class="jquery-todolist-item-actions-left">
        <span class="jquery-todolist-action jquery-todolist-item-checkbox">&#9744;</span>
    </span>
    <span class="jquery-todolist-item-actions-right">
        <span class="jquery-todolist-action jquery-todolist-item-action-remove">&times;</span>
    </span>
</div>