<div class="jquery-todolist ui-widget" style="display:none;">
    <div class="jquery-todolist-title ui-widget-header">
        <div class="jquery-todolist-action-edit jquery-todolist-action">
            <span class="jquery-todolist-title-text"></span>
        </div>
        <span class="jquery-todolist-menu-show jquery-todolist-action ui-widget-header">...</span>
    </div>

    <div class="jquery-todolist-items"></div>

    <div class="jquery-todolist-footer ui-widget-content">
        <div class="jquery-todolist-add ui-state-default">
            <span class="jquery-todolist-add-input ui-widget-content">
                <input class="jquery-todolist-add-input-text" placeholder="New Item" type="text" name="j" name="j" value="" />
            </span>
            <a class="jquery-todolist-action jquery-todolist-add-action" href="javascript:">+</a>
        </div>
    </div>
</div>