# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*

# plugin data ------------------------------------------------------------------
/json_data/user/*
!/json_data/user/README
# ------------------------------------------------------------------------------

# test -------------------------------------------------------------------------
/test
# ------------------------------------------------------------------------------